---
import Text from "./Text.astro";
---
<div class="inner-container">
    <Text header="Best of the day" text="Shots featured"/>
    <Text header="Featured streams" text="Watch livetreams"/>
    <Text header="Subscriptions" text="Premium content"/>
    <Text header="Subscriptions" text="Premium content"/>
</div>
